PPOLLib/Web References/UserGroupService/UserGroupAPIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.account.cxrm.com/" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" name="UserGroupAPIService" targetNamespace="http://api.account.cxrm.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://api.account.cxrm.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="addUsersToGroup" type="tns:addUsersToGroup" />
      <xs:element name="addUsersToGroupResponse" type="tns:addUsersToGroupResponse" />
      <xs:element name="createGroup" type="tns:createGroup" />
      <xs:element name="createGroupResponse" type="tns:createGroupResponse" />
      <xs:element name="getGroups" type="tns:getGroups" />
      <xs:element name="getGroupsResponse" type="tns:getGroupsResponse" />
      <xs:element name="getUserGroups" type="tns:getUserGroups" />
      <xs:element name="getUserGroupsResponse" type="tns:getUserGroupsResponse" />
      <xs:element name="getUsers" type="tns:getUsers" />
      <xs:element name="getUsersByGroup" type="tns:getUsersByGroup" />
      <xs:element name="getUsersByGroupResponse" type="tns:getUsersByGroupResponse" />
      <xs:element name="getUsersResponse" type="tns:getUsersResponse" />
      <xs:element name="removeUsersFromGroup" type="tns:removeUsersFromGroup" />
      <xs:element name="removeUsersFromGroupResponse" type="tns:removeUsersFromGroupResponse" />
      <xs:element name="updateGroup" type="tns:updateGroup" />
      <xs:element name="updateGroupResponse" type="tns:updateGroupResponse" />
      <xs:complexType name="updateGroup">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="tns:ppolGroup" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ppolGroup">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorMessage" type="xs:string" />
          <xs:element name="id" type="xs:int" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateGroupResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getGroups">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getGroupsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ppolUserGroup" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ppolUserGroup">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:ppolGroup">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="ppolUserList" nillable="true" type="tns:ppolUser" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ppolUser">
        <xs:sequence>
          <xs:element name="autoGenDefaultPassword" type="xs:boolean" />
          <xs:element name="autoGenPassword" type="xs:boolean" />
          <xs:element minOccurs="0" name="displayName" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="firstName" type="xs:string" />
          <xs:element minOccurs="0" name="function" type="xs:string" />
          <xs:element minOccurs="0" name="jobTitle" type="xs:string" />
          <xs:element minOccurs="0" name="lastName" type="xs:string" />
          <xs:element minOccurs="0" name="module" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="phone" type="xs:string" />
          <xs:element minOccurs="0" name="role" type="xs:string" />
          <xs:element minOccurs="0" name="userName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arrayList">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractList">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractList" abstract="true">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractCollection">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractCollection" abstract="true" />
      <xs:complexType name="getUserGroups">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUserGroupsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ppolGroup" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addUsersToGroup">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="tns:ppolUserGroup" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addUsersToGroupResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="removeUsersFromGroup">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="tns:ppolUserGroup" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="removeUsersFromGroupResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createGroup">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="tns:ppolGroup" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createGroupResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUsers">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="tns:ppolGroup" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUsersResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ppolUser" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUsersByGroup">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element name="arg3" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUsersByGroupResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:fwkUserEO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fwkUserEO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseBizEntity">
            <xs:sequence>
              <xs:element minOccurs="0" name="accessKey" type="xs:string" />
              <xs:element minOccurs="0" name="defaultLoginAppcode" type="xs:string" />
              <xs:element minOccurs="0" name="displayName" type="xs:string" />
              <xs:element minOccurs="0" name="emailAddress" type="xs:string" />
              <xs:element minOccurs="0" name="enableSync" type="xs:string" />
              <xs:element minOccurs="0" name="firstName" type="xs:string" />
              <xs:element minOccurs="0" name="functionResponsibility" type="xs:string" />
              <xs:element minOccurs="0" name="lastName" type="xs:string" />
              <xs:element minOccurs="0" name="managerTree" type="xs:string" />
              <xs:element name="managerUserId" type="xs:int" />
              <xs:element minOccurs="0" name="middleName" type="xs:string" />
              <xs:element minOccurs="0" name="phoneNumber" type="xs:string" />
              <xs:element minOccurs="0" name="pswdExpireDate" type="xs:string" />
              <xs:element minOccurs="0" name="territoryRole" type="xs:string" />
              <xs:element name="userId" type="xs:int" />
              <xs:element minOccurs="0" name="userName" type="xs:string" />
              <xs:element minOccurs="0" name="userTitle" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseBizEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="activeStatus" type="xs:string" />
          <xs:element name="createdBy" type="xs:int" />
          <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
          <xs:element name="deleteCB" type="xs:boolean" />
          <xs:element minOccurs="0" name="lastUpdateDate" type="xs:dateTime" />
          <xs:element name="lastUpdatedBy" type="xs:int" />
          <xs:element minOccurs="0" name="returnMsg" type="xs:string" />
          <xs:element name="xmlId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vector">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractList">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="updateGroup">
    <wsdl:part name="parameters" element="tns:updateGroup" />
  </wsdl:message>
  <wsdl:message name="getUsersByGroup">
    <wsdl:part name="parameters" element="tns:getUsersByGroup" />
  </wsdl:message>
  <wsdl:message name="getUsers">
    <wsdl:part name="parameters" element="tns:getUsers" />
  </wsdl:message>
  <wsdl:message name="getUserGroupsResponse">
    <wsdl:part name="parameters" element="tns:getUserGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="updateGroupResponse">
    <wsdl:part name="parameters" element="tns:updateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="createGroupResponse">
    <wsdl:part name="parameters" element="tns:createGroupResponse" />
  </wsdl:message>
  <wsdl:message name="addUsersToGroupResponse">
    <wsdl:part name="parameters" element="tns:addUsersToGroupResponse" />
  </wsdl:message>
  <wsdl:message name="getUserGroups">
    <wsdl:part name="parameters" element="tns:getUserGroups" />
  </wsdl:message>
  <wsdl:message name="createGroup">
    <wsdl:part name="parameters" element="tns:createGroup" />
  </wsdl:message>
  <wsdl:message name="getGroupsResponse">
    <wsdl:part name="parameters" element="tns:getGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="removeUsersFromGroup">
    <wsdl:part name="parameters" element="tns:removeUsersFromGroup" />
  </wsdl:message>
  <wsdl:message name="removeUsersFromGroupResponse">
    <wsdl:part name="parameters" element="tns:removeUsersFromGroupResponse" />
  </wsdl:message>
  <wsdl:message name="getUsersByGroupResponse">
    <wsdl:part name="parameters" element="tns:getUsersByGroupResponse" />
  </wsdl:message>
  <wsdl:message name="addUsersToGroup">
    <wsdl:part name="parameters" element="tns:addUsersToGroup" />
  </wsdl:message>
  <wsdl:message name="getUsersResponse">
    <wsdl:part name="parameters" element="tns:getUsersResponse" />
  </wsdl:message>
  <wsdl:message name="getGroups">
    <wsdl:part name="parameters" element="tns:getGroups" />
  </wsdl:message>
  <wsdl:portType name="UserGroupAPI">
    <wsdl:operation name="updateGroup">
      <wsdl:input name="updateGroup" message="tns:updateGroup" />
      <wsdl:output name="updateGroupResponse" message="tns:updateGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="getGroups">
      <wsdl:input name="getGroups" message="tns:getGroups" />
      <wsdl:output name="getGroupsResponse" message="tns:getGroupsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUserGroups">
      <wsdl:input name="getUserGroups" message="tns:getUserGroups" />
      <wsdl:output name="getUserGroupsResponse" message="tns:getUserGroupsResponse" />
    </wsdl:operation>
    <wsdl:operation name="addUsersToGroup">
      <wsdl:input name="addUsersToGroup" message="tns:addUsersToGroup" />
      <wsdl:output name="addUsersToGroupResponse" message="tns:addUsersToGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="removeUsersFromGroup">
      <wsdl:input name="removeUsersFromGroup" message="tns:removeUsersFromGroup" />
      <wsdl:output name="removeUsersFromGroupResponse" message="tns:removeUsersFromGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="createGroup">
      <wsdl:input name="createGroup" message="tns:createGroup" />
      <wsdl:output name="createGroupResponse" message="tns:createGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <wsdl:input name="getUsers" message="tns:getUsers" />
      <wsdl:output name="getUsersResponse" message="tns:getUsersResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUsersByGroup">
      <wsdl:input name="getUsersByGroup" message="tns:getUsersByGroup" />
      <wsdl:output name="getUsersByGroupResponse" message="tns:getUsersByGroupResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserGroupAPIServiceSoapBinding" type="tns:UserGroupAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updateGroup">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updateGroup">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroups">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getGroups">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getGroupsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserGroups">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUserGroups">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUserGroupsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUsersToGroup">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addUsersToGroup">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addUsersToGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeUsersFromGroup">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="removeUsersFromGroup">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeUsersFromGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createGroup">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createGroup">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUsers">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUsersResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsersByGroup">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUsersByGroup">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUsersByGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserGroupAPIService">
    <wsdl:port name="UserGroupAPIPort" binding="tns:UserGroupAPIServiceSoapBinding">
      <soap:address location="http://localhost:8080/cxf/UserGroupAPI" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>