PPOLLib/Web References/ContactService/PsnAPIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.sales.cxrm.com/" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" name="PsnAPIService" targetNamespace="http://api.sales.cxrm.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://api.sales.cxrm.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getAllContacts" type="tns:getAllContacts" />
      <xs:element name="getAllContactsResponse" type="tns:getAllContactsResponse" />
      <xs:element name="getAllContactsSync" type="tns:getAllContactsSync" />
      <xs:element name="getAllContactsSyncResponse" type="tns:getAllContactsSyncResponse" />
      <xs:element name="getAllOrganizationsByBizRelationship" type="tns:getAllOrganizationsByBizRelationship" />
      <xs:element name="getAllOrganizationsByBizRelationshipResponse" type="tns:getAllOrganizationsByBizRelationshipResponse" />
      <xs:element name="getContactDetail" type="tns:getContactDetail" />
      <xs:element name="getContactDetailResponse" type="tns:getContactDetailResponse" />
      <xs:element name="getContactList" type="tns:getContactList" />
      <xs:element name="getContactListResponse" type="tns:getContactListResponse" />
      <xs:element name="getContactsByList" type="tns:getContactsByList" />
      <xs:element name="getContactsByListResponse" type="tns:getContactsByListResponse" />
      <xs:element name="getContactsByViewName" type="tns:getContactsByViewName" />
      <xs:element name="getContactsByViewNameResponse" type="tns:getContactsByViewNameResponse" />
      <xs:element name="saveContactRecord" type="tns:saveContactRecord" />
      <xs:element name="saveContactRecordAllowDup" type="tns:saveContactRecordAllowDup" />
      <xs:element name="saveContactRecordAllowDupResponse" type="tns:saveContactRecordAllowDupResponse" />
      <xs:element name="saveContactRecordResponse" type="tns:saveContactRecordResponse" />
      <xs:element name="search" type="tns:search" />
      <xs:element name="searchContacts" type="tns:searchContacts" />
      <xs:element name="searchContactsByCustomField" type="tns:searchContactsByCustomField" />
      <xs:element name="searchContactsByCustomFieldResponse" type="tns:searchContactsByCustomFieldResponse" />
      <xs:element name="searchContactsByFirstAndLast" type="tns:searchContactsByFirstAndLast" />
      <xs:element name="searchContactsByFirstAndLastResponse" type="tns:searchContactsByFirstAndLastResponse" />
      <xs:element name="searchContactsResponse" type="tns:searchContactsResponse" />
      <xs:element name="searchResponse" type="tns:searchResponse" />
      <xs:complexType name="getAllContacts">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAllContactsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:contactList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="contactList">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseEntity">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="list" nillable="true" type="tns:contact" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="activeStatus" type="xs:string" />
          <xs:element name="dbCreatedBy" type="xs:int" />
          <xs:element minOccurs="0" name="dbCreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dbLastUpdateDate" type="xs:dateTime" />
          <xs:element name="dbLastUpdatedBy" type="xs:int" />
          <xs:element minOccurs="0" name="errorMsg" type="xs:string" />
          <xs:element name="olCreatedBy" type="xs:int" />
          <xs:element minOccurs="0" name="olCreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="olLastUpdateDate" type="xs:dateTime" />
          <xs:element name="olLastUpdatedBy" type="xs:int" />
          <xs:element name="xmlId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="contact">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseEntity">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="addresses" nillable="true" type="tns:cpAddress" />
              <xs:element minOccurs="0" name="birthDate" type="xs:string" />
              <xs:element minOccurs="0" name="channelCode" type="xs:string" />
              <xs:element minOccurs="0" name="channelDetail" type="xs:string" />
              <xs:element minOccurs="0" name="contactClassification" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="customFields" nillable="true" type="tns:baseCustomFieldData" />
              <xs:element name="customerId" type="xs:int" />
              <xs:element name="customerNumber" type="xs:int" />
              <xs:element minOccurs="0" name="decisionMaker" type="xs:string" />
              <xs:element minOccurs="0" name="department" type="xs:string" />
              <xs:element minOccurs="0" name="displayName" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="emails" nillable="true" type="tns:cpEmail" />
              <xs:element minOccurs="0" name="firstName" type="xs:string" />
              <xs:element minOccurs="0" name="jobTitle" type="xs:string" />
              <xs:element minOccurs="0" name="lastName" type="xs:string" />
              <xs:element minOccurs="0" name="middleName" type="xs:string" />
              <xs:element name="netWorth" type="xs:int" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="notes" nillable="true" type="tns:baseMessage" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="phones" nillable="true" type="tns:cpPhone" />
              <xs:element minOccurs="0" name="responsibility" type="xs:string" />
              <xs:element minOccurs="0" name="sex" type="xs:string" />
              <xs:element minOccurs="0" name="title" type="xs:string" />
              <xs:element minOccurs="0" name="url" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="cpAddress">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseEntity">
            <xs:sequence>
              <xs:element minOccurs="0" name="addrLine1" type="xs:string" />
              <xs:element minOccurs="0" name="addrLine2" type="xs:string" />
              <xs:element minOccurs="0" name="addrLine3" type="xs:string" />
              <xs:element minOccurs="0" name="addrLine4" type="xs:string" />
              <xs:element name="addressId" type="xs:int" />
              <xs:element minOccurs="0" name="addressType" type="xs:string" />
              <xs:element minOccurs="0" name="city" type="xs:string" />
              <xs:element minOccurs="0" name="country" type="xs:string" />
              <xs:element minOccurs="0" name="postalCode" type="xs:string" />
              <xs:element minOccurs="0" name="primaryFlag" type="xs:string" />
              <xs:element minOccurs="0" name="state" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseCustomFieldData">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseEntity">
            <xs:sequence>
              <xs:element name="cfDataId" type="xs:int" />
              <xs:element name="cfDataNumValue" type="xs:double" />
              <xs:element minOccurs="0" name="cfDataValue" type="xs:string" />
              <xs:element minOccurs="0" name="fieldDefinition" type="xs:string" />
              <xs:element name="fieldDefinitionId" type="xs:int" />
              <xs:element name="ownerTableId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="cpEmail">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseEntity">
            <xs:sequence>
              <xs:element name="contactPointId" type="xs:int" />
              <xs:element minOccurs="0" name="emailAddr" type="xs:string" />
              <xs:element minOccurs="0" name="primaryFlag" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseMessage">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseEntity">
            <xs:sequence>
              <xs:element minOccurs="0" name="attachmentFileContent" type="xs:string" />
              <xs:element minOccurs="0" name="attachmentFileName" type="xs:string" />
              <xs:element name="msgId" type="xs:int" />
              <xs:element minOccurs="0" name="msgTitle" type="xs:string" />
              <xs:element minOccurs="0" name="msgTxt" type="xs:string" />
              <xs:element name="parentId" type="xs:int" />
              <xs:element name="threadId" type="xs:int" />
              <xs:element minOccurs="0" name="writerName" type="xs:string" />
              <xs:element name="writerUserId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="cpPhone">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseEntity">
            <xs:sequence>
              <xs:element name="contactPointId" type="xs:int" />
              <xs:element minOccurs="0" name="phoneExtension" type="xs:string" />
              <xs:element minOccurs="0" name="phoneLineType" type="xs:string" />
              <xs:element minOccurs="0" name="phoneNumber" type="xs:string" />
              <xs:element minOccurs="0" name="primaryFlag" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="searchContactsByFirstAndLast">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="searchContactsByFirstAndLastResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:contactList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="search">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="searchResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ppolContact" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ppolContact">
        <xs:sequence>
          <xs:element minOccurs="0" name="displayName" type="xs:string" />
          <xs:element minOccurs="0" name="errorMessage" type="xs:string" />
          <xs:element minOccurs="0" name="firstName" type="xs:string" />
          <xs:element name="id" type="xs:int" />
          <xs:element minOccurs="0" name="lastName" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="primaryEmail" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arrayList">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractList">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractList" abstract="true">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractCollection">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractCollection" abstract="true" />
      <xs:complexType name="getAllContactsSync">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAllContactsSyncResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:contactList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getContactsByViewName">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getContactsByViewNameResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:contactList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getContactDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element name="arg1" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getContactDetailResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:contact" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="searchContacts">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="searchContactsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:contactList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getContactsByList">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element name="arg3" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getContactsByListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ppolContact" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vector">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractList">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getAllOrganizationsByBizRelationship">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element name="arg1" type="xs:int" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAllOrganizationsByBizRelationshipResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:organizationList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="organizationList">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseEntity">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="list" nillable="true" type="tns:organization" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="organization">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseEntity">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="addresses" nillable="true" type="tns:cpAddress" />
              <xs:element name="annualRevenue" type="xs:int" />
              <xs:element minOccurs="0" name="businessLine" type="xs:string" />
              <xs:element minOccurs="0" name="channelCode" type="xs:string" />
              <xs:element minOccurs="0" name="channelDetail" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="customFields" nillable="true" type="tns:baseCustomFieldData" />
              <xs:element minOccurs="0" name="customerCategory" type="xs:string" />
              <xs:element name="customerId" type="xs:int" />
              <xs:element name="customerNumber" type="xs:int" />
              <xs:element minOccurs="0" name="displayName" type="xs:string" />
              <xs:element minOccurs="0" name="dunsNumber" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="emails" nillable="true" type="tns:cpEmail" />
              <xs:element minOccurs="0" name="externalPartnerId" type="xs:string" />
              <xs:element minOccurs="0" name="fiscalYearEnd" type="xs:string" />
              <xs:element name="netWorth" type="xs:int" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="notes" nillable="true" type="tns:baseMessage" />
              <xs:element name="numEmployee" type="xs:int" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="phones" nillable="true" type="tns:cpPhone" />
              <xs:element minOccurs="0" name="sicCode" type="xs:string" />
              <xs:element minOccurs="0" name="stockTicker" type="xs:string" />
              <xs:element minOccurs="0" name="url" type="xs:string" />
              <xs:element name="yearEstablished" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getContactList">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getContactListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:mktAudlistEO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mktAudlistEO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseBizEntity">
            <xs:sequence>
              <xs:element minOccurs="0" name="audlistDesc" type="xs:string" />
              <xs:element name="audlistId" type="xs:int" />
              <xs:element minOccurs="0" name="audlistName" type="xs:string" />
              <xs:element minOccurs="0" name="audlistSrc" type="xs:string" />
              <xs:element minOccurs="0" name="audlistType" type="xs:string" />
              <xs:element minOccurs="0" name="extraTblCol" type="xs:string" />
              <xs:element minOccurs="0" name="followAccessControl" type="xs:string" />
              <xs:element minOccurs="0" name="queryParam" type="xs:string" />
              <xs:element minOccurs="0" name="sqlWhereclause" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseBizEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="activeStatus" type="xs:string" />
          <xs:element name="createdBy" type="xs:int" />
          <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
          <xs:element name="deleteCB" type="xs:boolean" />
          <xs:element minOccurs="0" name="lastUpdateDate" type="xs:dateTime" />
          <xs:element name="lastUpdatedBy" type="xs:int" />
          <xs:element minOccurs="0" name="returnMsg" type="xs:string" />
          <xs:element name="xmlId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveContactRecord">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="tns:contact" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveContactRecordResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:contact" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="searchContactsByCustomField">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="searchContactsByCustomFieldResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:contactList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveContactRecordAllowDup">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="tns:contact" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveContactRecordAllowDupResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:contact" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="searchContactsByCustomField">
    <wsdl:part name="parameters" element="tns:searchContactsByCustomField" />
  </wsdl:message>
  <wsdl:message name="saveContactRecordAllowDup">
    <wsdl:part name="parameters" element="tns:saveContactRecordAllowDup" />
  </wsdl:message>
  <wsdl:message name="saveContactRecord">
    <wsdl:part name="parameters" element="tns:saveContactRecord" />
  </wsdl:message>
  <wsdl:message name="getContactList">
    <wsdl:part name="parameters" element="tns:getContactList" />
  </wsdl:message>
  <wsdl:message name="searchContacts">
    <wsdl:part name="parameters" element="tns:searchContacts" />
  </wsdl:message>
  <wsdl:message name="getAllOrganizationsByBizRelationshipResponse">
    <wsdl:part name="parameters" element="tns:getAllOrganizationsByBizRelationshipResponse" />
  </wsdl:message>
  <wsdl:message name="getAllContactsResponse">
    <wsdl:part name="parameters" element="tns:getAllContactsResponse" />
  </wsdl:message>
  <wsdl:message name="getContactsByListResponse">
    <wsdl:part name="parameters" element="tns:getContactsByListResponse" />
  </wsdl:message>
  <wsdl:message name="saveContactRecordAllowDupResponse">
    <wsdl:part name="parameters" element="tns:saveContactRecordAllowDupResponse" />
  </wsdl:message>
  <wsdl:message name="getContactsByViewNameResponse">
    <wsdl:part name="parameters" element="tns:getContactsByViewNameResponse" />
  </wsdl:message>
  <wsdl:message name="getContactsByList">
    <wsdl:part name="parameters" element="tns:getContactsByList" />
  </wsdl:message>
  <wsdl:message name="search">
    <wsdl:part name="parameters" element="tns:search" />
  </wsdl:message>
  <wsdl:message name="getAllContacts">
    <wsdl:part name="parameters" element="tns:getAllContacts" />
  </wsdl:message>
  <wsdl:message name="getAllContactsSync">
    <wsdl:part name="parameters" element="tns:getAllContactsSync" />
  </wsdl:message>
  <wsdl:message name="getContactsByViewName">
    <wsdl:part name="parameters" element="tns:getContactsByViewName" />
  </wsdl:message>
  <wsdl:message name="getContactDetailResponse">
    <wsdl:part name="parameters" element="tns:getContactDetailResponse" />
  </wsdl:message>
  <wsdl:message name="searchResponse">
    <wsdl:part name="parameters" element="tns:searchResponse" />
  </wsdl:message>
  <wsdl:message name="getContactListResponse">
    <wsdl:part name="parameters" element="tns:getContactListResponse" />
  </wsdl:message>
  <wsdl:message name="saveContactRecordResponse">
    <wsdl:part name="parameters" element="tns:saveContactRecordResponse" />
  </wsdl:message>
  <wsdl:message name="getAllContactsSyncResponse">
    <wsdl:part name="parameters" element="tns:getAllContactsSyncResponse" />
  </wsdl:message>
  <wsdl:message name="searchContactsResponse">
    <wsdl:part name="parameters" element="tns:searchContactsResponse" />
  </wsdl:message>
  <wsdl:message name="searchContactsByFirstAndLast">
    <wsdl:part name="parameters" element="tns:searchContactsByFirstAndLast" />
  </wsdl:message>
  <wsdl:message name="getAllOrganizationsByBizRelationship">
    <wsdl:part name="parameters" element="tns:getAllOrganizationsByBizRelationship" />
  </wsdl:message>
  <wsdl:message name="searchContactsByFirstAndLastResponse">
    <wsdl:part name="parameters" element="tns:searchContactsByFirstAndLastResponse" />
  </wsdl:message>
  <wsdl:message name="searchContactsByCustomFieldResponse">
    <wsdl:part name="parameters" element="tns:searchContactsByCustomFieldResponse" />
  </wsdl:message>
  <wsdl:message name="getContactDetail">
    <wsdl:part name="parameters" element="tns:getContactDetail" />
  </wsdl:message>
  <wsdl:portType name="PsnAPI">
    <wsdl:operation name="getAllContacts">
      <wsdl:input name="getAllContacts" message="tns:getAllContacts" />
      <wsdl:output name="getAllContactsResponse" message="tns:getAllContactsResponse" />
    </wsdl:operation>
    <wsdl:operation name="searchContactsByFirstAndLast">
      <wsdl:input name="searchContactsByFirstAndLast" message="tns:searchContactsByFirstAndLast" />
      <wsdl:output name="searchContactsByFirstAndLastResponse" message="tns:searchContactsByFirstAndLastResponse" />
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input name="search" message="tns:search" />
      <wsdl:output name="searchResponse" message="tns:searchResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllContactsSync">
      <wsdl:input name="getAllContactsSync" message="tns:getAllContactsSync" />
      <wsdl:output name="getAllContactsSyncResponse" message="tns:getAllContactsSyncResponse" />
    </wsdl:operation>
    <wsdl:operation name="getContactsByViewName">
      <wsdl:input name="getContactsByViewName" message="tns:getContactsByViewName" />
      <wsdl:output name="getContactsByViewNameResponse" message="tns:getContactsByViewNameResponse" />
    </wsdl:operation>
    <wsdl:operation name="getContactDetail">
      <wsdl:input name="getContactDetail" message="tns:getContactDetail" />
      <wsdl:output name="getContactDetailResponse" message="tns:getContactDetailResponse" />
    </wsdl:operation>
    <wsdl:operation name="searchContacts">
      <wsdl:input name="searchContacts" message="tns:searchContacts" />
      <wsdl:output name="searchContactsResponse" message="tns:searchContactsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getContactsByList">
      <wsdl:input name="getContactsByList" message="tns:getContactsByList" />
      <wsdl:output name="getContactsByListResponse" message="tns:getContactsByListResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllOrganizationsByBizRelationship">
      <wsdl:input name="getAllOrganizationsByBizRelationship" message="tns:getAllOrganizationsByBizRelationship" />
      <wsdl:output name="getAllOrganizationsByBizRelationshipResponse" message="tns:getAllOrganizationsByBizRelationshipResponse" />
    </wsdl:operation>
    <wsdl:operation name="getContactList">
      <wsdl:input name="getContactList" message="tns:getContactList" />
      <wsdl:output name="getContactListResponse" message="tns:getContactListResponse" />
    </wsdl:operation>
    <wsdl:operation name="saveContactRecord">
      <wsdl:input name="saveContactRecord" message="tns:saveContactRecord" />
      <wsdl:output name="saveContactRecordResponse" message="tns:saveContactRecordResponse" />
    </wsdl:operation>
    <wsdl:operation name="searchContactsByCustomField">
      <wsdl:input name="searchContactsByCustomField" message="tns:searchContactsByCustomField" />
      <wsdl:output name="searchContactsByCustomFieldResponse" message="tns:searchContactsByCustomFieldResponse" />
    </wsdl:operation>
    <wsdl:operation name="saveContactRecordAllowDup">
      <wsdl:input name="saveContactRecordAllowDup" message="tns:saveContactRecordAllowDup" />
      <wsdl:output name="saveContactRecordAllowDupResponse" message="tns:saveContactRecordAllowDupResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PsnAPIServiceSoapBinding" type="tns:PsnAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllContacts">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAllContacts">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllContactsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchContactsByFirstAndLast">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="searchContactsByFirstAndLast">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchContactsByFirstAndLastResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="search">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllContactsSync">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAllContactsSync">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllContactsSyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContactDetail">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getContactDetail">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getContactDetailResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContactsByViewName">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getContactsByViewName">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getContactsByViewNameResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContactsByList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getContactsByList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getContactsByListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchContacts">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="searchContacts">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchContactsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllOrganizationsByBizRelationship">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAllOrganizationsByBizRelationship">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllOrganizationsByBizRelationshipResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContactList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getContactList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getContactListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveContactRecord">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="saveContactRecord">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="saveContactRecordResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchContactsByCustomField">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="searchContactsByCustomField">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchContactsByCustomFieldResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveContactRecordAllowDup">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="saveContactRecordAllowDup">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="saveContactRecordAllowDupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PsnAPIService">
    <wsdl:port name="PsnAPIPort" binding="tns:PsnAPIServiceSoapBinding">
      <soap:address location="http://localhost:8080/cxf/PsnAPI" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>