PPOLLib/Web References/WebReference/ArchTelecomAPIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://api.archTele.cxrm.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ArchTelecomAPIService" targetNamespace="http://api.archTele.cxrm.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://api.archTele.cxrm.com/">
      <xsd:element name="ReceiveData" type="tns:ReceiveData" />
      <xsd:complexType name="ReceiveData">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
          <xsd:element minOccurs="0" name="arg1" type="xsd:string" />
          <xsd:element minOccurs="0" name="arg2" type="xsd:string" />
          <xsd:element minOccurs="0" name="arg3" type="xsd:string" />
          <xsd:element minOccurs="0" name="arg4" type="xsd:string" />
          <xsd:element minOccurs="0" name="arg5" type="xsd:string" />
          <xsd:element minOccurs="0" name="arg6" type="xsd:string" />
          <xsd:element minOccurs="0" name="arg7" type="xsd:string" />
          <xsd:element minOccurs="0" name="arg8" type="xsd:string" />
          <xsd:element minOccurs="0" name="arg9" type="xsd:string" />
          <xsd:element minOccurs="0" name="arg10" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ReceiveDataResponse" type="tns:ReceiveDataResponse" />
      <xsd:complexType name="ReceiveDataResponse">
        <xsd:sequence />
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveDataResponse">
    <wsdl:part name="parameters" element="tns:ReceiveDataResponse" />
  </wsdl:message>
  <wsdl:message name="ReceiveData">
    <wsdl:part name="parameters" element="tns:ReceiveData" />
  </wsdl:message>
  <wsdl:portType name="ArchTelecomAPI">
    <wsdl:operation name="ReceiveData">
      <wsdl:input name="ReceiveData" message="tns:ReceiveData" />
      <wsdl:output name="ReceiveDataResponse" message="tns:ReceiveDataResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ArchTelecomAPIServiceSoapBinding" type="tns:ArchTelecomAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ReceiveData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReceiveDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArchTelecomAPIService">
    <wsdl:port name="ArchTelecomAPIPort" binding="tns:ArchTelecomAPIServiceSoapBinding">
      <soap:address location="http://216.130.241.141/cxf/ArchTelecomAPI" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>