PPOLLib/Web References/MiscService/MiscAPIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.sales.cxrm.com/" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" name="MiscAPIService" targetNamespace="http://api.sales.cxrm.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://api.sales.cxrm.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="createContact" type="tns:createContact" />
      <xs:element name="createContactResponse" type="tns:createContactResponse" />
      <xs:element name="createOrganization" type="tns:createOrganization" />
      <xs:element name="createOrganizationResponse" type="tns:createOrganizationResponse" />
      <xs:element name="getContactOptions" type="tns:getContactOptions" />
      <xs:element name="getContactOptionsResponse" type="tns:getContactOptionsResponse" />
      <xs:element name="getCustomerOptions" type="tns:getCustomerOptions" />
      <xs:element name="getCustomerOptionsResponse" type="tns:getCustomerOptionsResponse" />
      <xs:complexType name="getContactOptions">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getContactOptionsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:contactOptions" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="contactOptions">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseObj">
            <xs:sequence>
              <xs:element minOccurs="0" name="addressTypeList" type="tns:contactAddressTypeList" />
              <xs:element minOccurs="0" name="categoryList" type="tns:contactCategoryList" />
              <xs:element minOccurs="0" name="phoneTypeList" type="tns:contactPhoneTypeList" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseObj">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorMsg" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="contactAddressTypeList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="list" nillable="true" type="tns:contactAddressType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="contactAddressType">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:option">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="option">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseObj">
            <xs:sequence>
              <xs:element name="id" type="xs:int" />
              <xs:element minOccurs="0" name="key" type="xs:string" />
              <xs:element minOccurs="0" name="name" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="contactCategoryList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="list" nillable="true" type="tns:contactCategory" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="contactCategory">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:option">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="contactPhoneTypeList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="list" nillable="true" type="tns:contactPhoneType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="contactPhoneType">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:option">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getCustomerOptions">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCustomerOptionsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:customerOptions" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="customerOptions">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseObj">
            <xs:sequence>
              <xs:element minOccurs="0" name="addressTypeList" type="tns:customerAddressTypeList" />
              <xs:element minOccurs="0" name="businesslineList" type="tns:customerBusinesslineList" />
              <xs:element minOccurs="0" name="categoryList" type="tns:customerCategoryList" />
              <xs:element minOccurs="0" name="phoneTypeList" type="tns:customerPhoneTypeList" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="customerAddressTypeList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="list" nillable="true" type="tns:customerAddressType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="customerAddressType">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:option">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="customerBusinesslineList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="list" nillable="true" type="tns:customerBusinessline" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="customerBusinessline">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:option">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="customerCategoryList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="list" nillable="true" type="tns:customerCategory" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="customerCategory">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:option">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="customerPhoneTypeList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="list" nillable="true" type="tns:customerPhoneType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="customerPhoneType">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:option">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="createOrganization">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="tns:organization" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="organization">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseEntity">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="addresses" nillable="true" type="tns:cpAddress" />
              <xs:element name="annualRevenue" type="xs:int" />
              <xs:element minOccurs="0" name="businessLine" type="xs:string" />
              <xs:element minOccurs="0" name="channelCode" type="xs:string" />
              <xs:element minOccurs="0" name="channelDetail" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="customFields" nillable="true" type="tns:baseCustomFieldData" />
              <xs:element minOccurs="0" name="customerCategory" type="xs:string" />
              <xs:element name="customerId" type="xs:int" />
              <xs:element name="customerNumber" type="xs:int" />
              <xs:element minOccurs="0" name="displayName" type="xs:string" />
              <xs:element minOccurs="0" name="dunsNumber" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="emails" nillable="true" type="tns:cpEmail" />
              <xs:element minOccurs="0" name="externalPartnerId" type="xs:string" />
              <xs:element minOccurs="0" name="fiscalYearEnd" type="xs:string" />
              <xs:element name="netWorth" type="xs:int" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="notes" nillable="true" type="tns:baseMessage" />
              <xs:element name="numEmployee" type="xs:int" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="phones" nillable="true" type="tns:cpPhone" />
              <xs:element minOccurs="0" name="sicCode" type="xs:string" />
              <xs:element minOccurs="0" name="stockTicker" type="xs:string" />
              <xs:element minOccurs="0" name="url" type="xs:string" />
              <xs:element name="yearEstablished" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="activeStatus" type="xs:string" />
          <xs:element name="dbCreatedBy" type="xs:int" />
          <xs:element minOccurs="0" name="dbCreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dbLastUpdateDate" type="xs:dateTime" />
          <xs:element name="dbLastUpdatedBy" type="xs:int" />
          <xs:element minOccurs="0" name="errorMsg" type="xs:string" />
          <xs:element name="olCreatedBy" type="xs:int" />
          <xs:element minOccurs="0" name="olCreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="olLastUpdateDate" type="xs:dateTime" />
          <xs:element name="olLastUpdatedBy" type="xs:int" />
          <xs:element name="xmlId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cpAddress">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseEntity">
            <xs:sequence>
              <xs:element minOccurs="0" name="addrLine1" type="xs:string" />
              <xs:element minOccurs="0" name="addrLine2" type="xs:string" />
              <xs:element minOccurs="0" name="addrLine3" type="xs:string" />
              <xs:element minOccurs="0" name="addrLine4" type="xs:string" />
              <xs:element name="addressId" type="xs:int" />
              <xs:element minOccurs="0" name="addressType" type="xs:string" />
              <xs:element minOccurs="0" name="city" type="xs:string" />
              <xs:element minOccurs="0" name="country" type="xs:string" />
              <xs:element minOccurs="0" name="postalCode" type="xs:string" />
              <xs:element minOccurs="0" name="primaryFlag" type="xs:string" />
              <xs:element minOccurs="0" name="state" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseCustomFieldData">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseEntity">
            <xs:sequence>
              <xs:element name="cfDataId" type="xs:int" />
              <xs:element name="cfDataNumValue" type="xs:double" />
              <xs:element minOccurs="0" name="cfDataValue" type="xs:string" />
              <xs:element minOccurs="0" name="fieldDefinition" type="xs:string" />
              <xs:element name="fieldDefinitionId" type="xs:int" />
              <xs:element name="ownerTableId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="cpEmail">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseEntity">
            <xs:sequence>
              <xs:element name="contactPointId" type="xs:int" />
              <xs:element minOccurs="0" name="emailAddr" type="xs:string" />
              <xs:element minOccurs="0" name="primaryFlag" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseMessage">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseEntity">
            <xs:sequence>
              <xs:element minOccurs="0" name="attachmentFileContent" type="xs:string" />
              <xs:element minOccurs="0" name="attachmentFileName" type="xs:string" />
              <xs:element name="msgId" type="xs:int" />
              <xs:element minOccurs="0" name="msgTitle" type="xs:string" />
              <xs:element minOccurs="0" name="msgTxt" type="xs:string" />
              <xs:element name="parentId" type="xs:int" />
              <xs:element name="threadId" type="xs:int" />
              <xs:element minOccurs="0" name="writerName" type="xs:string" />
              <xs:element name="writerUserId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="cpPhone">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseEntity">
            <xs:sequence>
              <xs:element name="contactPointId" type="xs:int" />
              <xs:element minOccurs="0" name="phoneExtension" type="xs:string" />
              <xs:element minOccurs="0" name="phoneLineType" type="xs:string" />
              <xs:element minOccurs="0" name="phoneNumber" type="xs:string" />
              <xs:element minOccurs="0" name="primaryFlag" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="createOrganizationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:organization" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createContact">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="tns:contact" />
          <xs:element name="arg4" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="contact">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseEntity">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="addresses" nillable="true" type="tns:cpAddress" />
              <xs:element minOccurs="0" name="birthDate" type="xs:string" />
              <xs:element minOccurs="0" name="channelCode" type="xs:string" />
              <xs:element minOccurs="0" name="channelDetail" type="xs:string" />
              <xs:element minOccurs="0" name="contactClassification" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="customFields" nillable="true" type="tns:baseCustomFieldData" />
              <xs:element name="customerId" type="xs:int" />
              <xs:element name="customerNumber" type="xs:int" />
              <xs:element minOccurs="0" name="decisionMaker" type="xs:string" />
              <xs:element minOccurs="0" name="department" type="xs:string" />
              <xs:element minOccurs="0" name="displayName" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="emails" nillable="true" type="tns:cpEmail" />
              <xs:element minOccurs="0" name="firstName" type="xs:string" />
              <xs:element minOccurs="0" name="jobTitle" type="xs:string" />
              <xs:element minOccurs="0" name="lastName" type="xs:string" />
              <xs:element minOccurs="0" name="middleName" type="xs:string" />
              <xs:element name="netWorth" type="xs:int" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="notes" nillable="true" type="tns:baseMessage" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="phones" nillable="true" type="tns:cpPhone" />
              <xs:element minOccurs="0" name="responsibility" type="xs:string" />
              <xs:element minOccurs="0" name="sex" type="xs:string" />
              <xs:element minOccurs="0" name="title" type="xs:string" />
              <xs:element minOccurs="0" name="url" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="createContactResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:contact" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getCustomerOptions">
    <wsdl:part name="parameters" element="tns:getCustomerOptions" />
  </wsdl:message>
  <wsdl:message name="createContact">
    <wsdl:part name="parameters" element="tns:createContact" />
  </wsdl:message>
  <wsdl:message name="createOrganizationResponse">
    <wsdl:part name="parameters" element="tns:createOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="getCustomerOptionsResponse">
    <wsdl:part name="parameters" element="tns:getCustomerOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="getContactOptionsResponse">
    <wsdl:part name="parameters" element="tns:getContactOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="createOrganization">
    <wsdl:part name="parameters" element="tns:createOrganization" />
  </wsdl:message>
  <wsdl:message name="createContactResponse">
    <wsdl:part name="parameters" element="tns:createContactResponse" />
  </wsdl:message>
  <wsdl:message name="getContactOptions">
    <wsdl:part name="parameters" element="tns:getContactOptions" />
  </wsdl:message>
  <wsdl:portType name="MiscAPI">
    <wsdl:operation name="getContactOptions">
      <wsdl:input name="getContactOptions" message="tns:getContactOptions" />
      <wsdl:output name="getContactOptionsResponse" message="tns:getContactOptionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCustomerOptions">
      <wsdl:input name="getCustomerOptions" message="tns:getCustomerOptions" />
      <wsdl:output name="getCustomerOptionsResponse" message="tns:getCustomerOptionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="createOrganization">
      <wsdl:input name="createOrganization" message="tns:createOrganization" />
      <wsdl:output name="createOrganizationResponse" message="tns:createOrganizationResponse" />
    </wsdl:operation>
    <wsdl:operation name="createContact">
      <wsdl:input name="createContact" message="tns:createContact" />
      <wsdl:output name="createContactResponse" message="tns:createContactResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MiscAPIServiceSoapBinding" type="tns:MiscAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getContactOptions">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getContactOptions">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getContactOptionsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerOptions">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCustomerOptions">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCustomerOptionsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createOrganization">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createOrganization">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createOrganizationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createContact">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createContact">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createContactResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiscAPIService">
    <wsdl:port name="MiscAPIPort" binding="tns:MiscAPIServiceSoapBinding">
      <soap:address location="http://localhost:8080/cxf/MiscAPI" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>