PPOLLib/Web References/PPOLService/PsnNoteAPIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.sales.cxrm.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PsnNoteAPIService" targetNamespace="http://api.sales.cxrm.com/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://api.sales.cxrm.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://api.sales.cxrm.com/">
      <xs:complexType name="ppolContact">
        <xs:sequence>
          <xs:element minOccurs="0" name="displayName" type="xs:string"/>
          <xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
          <xs:element minOccurs="0" name="firstName" type="xs:string"/>
          <xs:element name="id" type="xs:int"/>
          <xs:element minOccurs="0" name="lastName" type="xs:string"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="primaryEmail" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachEmailAsNote" type="attachEmailAsNote"/>
      <xs:complexType name="attachEmailAsNote">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string"/>
          <xs:element minOccurs="0" name="arg1" type="xs:string"/>
          <xs:element minOccurs="0" name="arg2" type="xs:string"/>
          <xs:element minOccurs="0" name="arg3" type="xs:string"/>
          <xs:element minOccurs="0" name="arg4" type="xs:string"/>
          <xs:element minOccurs="0" name="arg5" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachEmailAsNoteResponse" type="attachEmailAsNoteResponse"/>
      <xs:complexType name="attachEmailAsNoteResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachToCustomer" type="attachToCustomer"/>
      <xs:complexType name="attachToCustomer">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string"/>
          <xs:element minOccurs="0" name="arg1" type="xs:string"/>
          <xs:element minOccurs="0" name="arg2" type="xs:string"/>
          <xs:element minOccurs="0" name="arg3" type="xs:string"/>
          <xs:element minOccurs="0" name="arg4" type="xs:string"/>
          <xs:element minOccurs="0" name="arg5" type="xs:string"/>
          <xs:element minOccurs="0" name="arg6" type="xs:string"/>
          <xs:element minOccurs="0" name="arg7" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachToCustomerResponse" type="attachToCustomerResponse"/>
      <xs:complexType name="attachToCustomerResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachNoteToContact" type="attachNoteToContact"/>
      <xs:complexType name="attachNoteToContact">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string"/>
          <xs:element minOccurs="0" name="arg1" type="xs:string"/>
          <xs:element minOccurs="0" name="arg2" type="xs:string"/>
          <xs:element minOccurs="0" name="arg3" type="xs:string"/>
          <xs:element minOccurs="0" name="arg4" type="xs:string"/>
          <xs:element minOccurs="0" name="arg5" type="xs:string"/>
          <xs:element minOccurs="0" name="arg6" type="xs:string"/>
          <xs:element minOccurs="0" name="arg7" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachNoteToContactResponse" type="attachNoteToContactResponse"/>
      <xs:complexType name="attachNoteToContactResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachToCustomerWithAttachment" type="attachToCustomerWithAttachment"/>
      <xs:complexType name="attachToCustomerWithAttachment">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string"/>
          <xs:element minOccurs="0" name="arg1" type="xs:string"/>
          <xs:element minOccurs="0" name="arg2" type="xs:string"/>
          <xs:element minOccurs="0" name="arg3" type="xs:string"/>
          <xs:element minOccurs="0" name="arg4" type="xs:string"/>
          <xs:element minOccurs="0" name="arg5" type="xs:string"/>
          <xs:element minOccurs="0" name="arg6" type="xs:string"/>
          <xs:element minOccurs="0" name="arg7" type="xs:string"/>
          <xs:element minOccurs="0" name="arg8" type="xs:string"/>
          <xs:element minOccurs="0" name="arg9" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachToCustomerWithAttachmentResponse" type="attachToCustomerWithAttachmentResponse"/>
      <xs:complexType name="attachToCustomerWithAttachmentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachToContact" type="attachToContact"/>
      <xs:complexType name="attachToContact">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string"/>
          <xs:element minOccurs="0" name="arg1" type="xs:string"/>
          <xs:element minOccurs="0" name="arg2" type="xs:string"/>
          <xs:element minOccurs="0" name="arg3" type="xs:string"/>
          <xs:element minOccurs="0" name="arg4" type="xs:string"/>
          <xs:element minOccurs="0" name="arg5" type="xs:string"/>
          <xs:element minOccurs="0" name="arg6" type="xs:string"/>
          <xs:element minOccurs="0" name="arg7" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachToContactResponse" type="attachToContactResponse"/>
      <xs:complexType name="attachToContactResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachToContactWithAttachment" type="attachToContactWithAttachment"/>
      <xs:complexType name="attachToContactWithAttachment">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string"/>
          <xs:element minOccurs="0" name="arg1" type="xs:string"/>
          <xs:element minOccurs="0" name="arg2" type="xs:string"/>
          <xs:element minOccurs="0" name="arg3" type="xs:string"/>
          <xs:element minOccurs="0" name="arg4" type="xs:string"/>
          <xs:element minOccurs="0" name="arg5" type="xs:string"/>
          <xs:element minOccurs="0" name="arg6" type="xs:string"/>
          <xs:element minOccurs="0" name="arg7" type="xs:string"/>
          <xs:element minOccurs="0" name="arg8" type="xs:string"/>
          <xs:element minOccurs="0" name="arg9" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachToContactWithAttachmentResponse" type="attachToContactWithAttachmentResponse"/>
      <xs:complexType name="attachToContactWithAttachmentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachEmailAsNoteWithAttachment" type="attachEmailAsNoteWithAttachment"/>
      <xs:complexType name="attachEmailAsNoteWithAttachment">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string"/>
          <xs:element minOccurs="0" name="arg1" type="xs:string"/>
          <xs:element minOccurs="0" name="arg2" type="xs:string"/>
          <xs:element minOccurs="0" name="arg3" type="xs:string"/>
          <xs:element minOccurs="0" name="arg4" type="xs:string"/>
          <xs:element minOccurs="0" name="arg5" type="xs:string"/>
          <xs:element minOccurs="0" name="arg6" type="xs:string"/>
          <xs:element minOccurs="0" name="arg7" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachEmailAsNoteWithAttachmentResponse" type="attachEmailAsNoteWithAttachmentResponse"/>
      <xs:complexType name="attachEmailAsNoteWithAttachmentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachNoteToContactWithAttachment" type="attachNoteToContactWithAttachment"/>
      <xs:complexType name="attachNoteToContactWithAttachment">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string"/>
          <xs:element minOccurs="0" name="arg1" type="xs:string"/>
          <xs:element minOccurs="0" name="arg2" type="xs:string"/>
          <xs:element minOccurs="0" name="arg3" type="xs:string"/>
          <xs:element minOccurs="0" name="arg4" type="xs:string"/>
          <xs:element minOccurs="0" name="arg5" type="xs:string"/>
          <xs:element minOccurs="0" name="arg6" type="xs:string"/>
          <xs:element minOccurs="0" name="arg7" type="xs:string"/>
          <xs:element minOccurs="0" name="arg8" type="xs:string"/>
          <xs:element minOccurs="0" name="arg9" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachNoteToContactWithAttachmentResponse" type="attachNoteToContactWithAttachmentResponse"/>
      <xs:complexType name="attachNoteToContactWithAttachmentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="findContactByEmail" type="findContactByEmail"/>
      <xs:complexType name="findContactByEmail">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string"/>
          <xs:element minOccurs="0" name="arg1" type="xs:string"/>
          <xs:element minOccurs="0" name="arg2" type="xs:string"/>
          <xs:element minOccurs="0" name="arg3" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="findContactByEmailResponse" type="findContactByEmailResponse"/>
      <xs:complexType name="findContactByEmailResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="ppolContact"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="attachToCustomerResponse">
    <wsdl:part element="tns:attachToCustomerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="attachNoteToContactWithAttachment">
    <wsdl:part element="tns:attachNoteToContactWithAttachment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="attachToContactResponse">
    <wsdl:part element="tns:attachToContactResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="attachNoteToContactResponse">
    <wsdl:part element="tns:attachNoteToContactResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="attachToCustomerWithAttachmentResponse">
    <wsdl:part element="tns:attachToCustomerWithAttachmentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findContactByEmail">
    <wsdl:part element="tns:findContactByEmail" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="attachEmailAsNote">
    <wsdl:part element="tns:attachEmailAsNote" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findContactByEmailResponse">
    <wsdl:part element="tns:findContactByEmailResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="attachToCustomer">
    <wsdl:part element="tns:attachToCustomer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="attachNoteToContact">
    <wsdl:part element="tns:attachNoteToContact" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="attachToContactWithAttachmentResponse">
    <wsdl:part element="tns:attachToContactWithAttachmentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="attachEmailAsNoteWithAttachment">
    <wsdl:part element="tns:attachEmailAsNoteWithAttachment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="attachNoteToContactWithAttachmentResponse">
    <wsdl:part element="tns:attachNoteToContactWithAttachmentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="attachToContact">
    <wsdl:part element="tns:attachToContact" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="attachToCustomerWithAttachment">
    <wsdl:part element="tns:attachToCustomerWithAttachment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="attachEmailAsNoteWithAttachmentResponse">
    <wsdl:part element="tns:attachEmailAsNoteWithAttachmentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="attachEmailAsNoteResponse">
    <wsdl:part element="tns:attachEmailAsNoteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="attachToContactWithAttachment">
    <wsdl:part element="tns:attachToContactWithAttachment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PsnNoteAPI">
    <wsdl:operation name="attachEmailAsNote">
      <wsdl:input message="tns:attachEmailAsNote" name="attachEmailAsNote">
      </wsdl:input>
      <wsdl:output message="tns:attachEmailAsNoteResponse" name="attachEmailAsNoteResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachToCustomer">
      <wsdl:input message="tns:attachToCustomer" name="attachToCustomer">
      </wsdl:input>
      <wsdl:output message="tns:attachToCustomerResponse" name="attachToCustomerResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachNoteToContact">
      <wsdl:input message="tns:attachNoteToContact" name="attachNoteToContact">
      </wsdl:input>
      <wsdl:output message="tns:attachNoteToContactResponse" name="attachNoteToContactResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachToCustomerWithAttachment">
      <wsdl:input message="tns:attachToCustomerWithAttachment" name="attachToCustomerWithAttachment">
      </wsdl:input>
      <wsdl:output message="tns:attachToCustomerWithAttachmentResponse" name="attachToCustomerWithAttachmentResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachToContact">
      <wsdl:input message="tns:attachToContact" name="attachToContact">
      </wsdl:input>
      <wsdl:output message="tns:attachToContactResponse" name="attachToContactResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachToContactWithAttachment">
      <wsdl:input message="tns:attachToContactWithAttachment" name="attachToContactWithAttachment">
      </wsdl:input>
      <wsdl:output message="tns:attachToContactWithAttachmentResponse" name="attachToContactWithAttachmentResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachEmailAsNoteWithAttachment">
      <wsdl:input message="tns:attachEmailAsNoteWithAttachment" name="attachEmailAsNoteWithAttachment">
      </wsdl:input>
      <wsdl:output message="tns:attachEmailAsNoteWithAttachmentResponse" name="attachEmailAsNoteWithAttachmentResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachNoteToContactWithAttachment">
      <wsdl:input message="tns:attachNoteToContactWithAttachment" name="attachNoteToContactWithAttachment">
      </wsdl:input>
      <wsdl:output message="tns:attachNoteToContactWithAttachmentResponse" name="attachNoteToContactWithAttachmentResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findContactByEmail">
      <wsdl:input message="tns:findContactByEmail" name="findContactByEmail">
      </wsdl:input>
      <wsdl:output message="tns:findContactByEmailResponse" name="findContactByEmailResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PsnNoteAPIServiceSoapBinding" type="tns:PsnNoteAPI">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="attachEmailAsNote">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="attachEmailAsNote">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="attachEmailAsNoteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachToCustomer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="attachToCustomer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="attachToCustomerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachNoteToContact">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="attachNoteToContact">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="attachNoteToContactResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachToCustomerWithAttachment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="attachToCustomerWithAttachment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="attachToCustomerWithAttachmentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachToContact">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="attachToContact">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="attachToContactResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachEmailAsNoteWithAttachment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="attachEmailAsNoteWithAttachment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="attachEmailAsNoteWithAttachmentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachToContactWithAttachment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="attachToContactWithAttachment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="attachToContactWithAttachmentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachNoteToContactWithAttachment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="attachNoteToContactWithAttachment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="attachNoteToContactWithAttachmentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findContactByEmail">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findContactByEmail">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findContactByEmailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PsnNoteAPIService">
    <wsdl:port binding="tns:PsnNoteAPIServiceSoapBinding" name="PsnNoteAPIPort">
      <soap:address location="http://www.planplusonline08.com/cxf/PsnNoteAPI"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>