PPOLLib/Service References/PPOLService/PsnNoteAPIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.sales.cxrm.com/" name="PsnNoteAPIService" targetNamespace="http://api.sales.cxrm.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="http://api.sales.cxrm.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://api.sales.cxrm.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="ppolContact">
        <xs:sequence>
          <xs:element minOccurs="0" name="displayName" type="xs:string" />
          <xs:element minOccurs="0" name="errorMessage" type="xs:string" />
          <xs:element minOccurs="0" name="firstName" type="xs:string" />
          <xs:element name="id" type="xs:int" />
          <xs:element minOccurs="0" name="lastName" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="primaryEmail" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachEmailAsNote" type="tns:attachEmailAsNote" />
      <xs:complexType name="attachEmailAsNote">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:string" />
          <xs:element minOccurs="0" name="arg4" type="xs:string" />
          <xs:element minOccurs="0" name="arg5" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachEmailAsNoteResponse" type="tns:attachEmailAsNoteResponse" />
      <xs:complexType name="attachEmailAsNoteResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachToCustomer" type="tns:attachToCustomer" />
      <xs:complexType name="attachToCustomer">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:string" />
          <xs:element minOccurs="0" name="arg4" type="xs:string" />
          <xs:element minOccurs="0" name="arg5" type="xs:string" />
          <xs:element minOccurs="0" name="arg6" type="xs:string" />
          <xs:element minOccurs="0" name="arg7" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachToCustomerResponse" type="tns:attachToCustomerResponse" />
      <xs:complexType name="attachToCustomerResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachNoteToContact" type="tns:attachNoteToContact" />
      <xs:complexType name="attachNoteToContact">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:string" />
          <xs:element minOccurs="0" name="arg4" type="xs:string" />
          <xs:element minOccurs="0" name="arg5" type="xs:string" />
          <xs:element minOccurs="0" name="arg6" type="xs:string" />
          <xs:element minOccurs="0" name="arg7" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachNoteToContactResponse" type="tns:attachNoteToContactResponse" />
      <xs:complexType name="attachNoteToContactResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachToCustomerWithAttachment" type="tns:attachToCustomerWithAttachment" />
      <xs:complexType name="attachToCustomerWithAttachment">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:string" />
          <xs:element minOccurs="0" name="arg4" type="xs:string" />
          <xs:element minOccurs="0" name="arg5" type="xs:string" />
          <xs:element minOccurs="0" name="arg6" type="xs:string" />
          <xs:element minOccurs="0" name="arg7" type="xs:string" />
          <xs:element minOccurs="0" name="arg8" type="xs:string" />
          <xs:element minOccurs="0" name="arg9" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachToCustomerWithAttachmentResponse" type="tns:attachToCustomerWithAttachmentResponse" />
      <xs:complexType name="attachToCustomerWithAttachmentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachToContact" type="tns:attachToContact" />
      <xs:complexType name="attachToContact">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:string" />
          <xs:element minOccurs="0" name="arg4" type="xs:string" />
          <xs:element minOccurs="0" name="arg5" type="xs:string" />
          <xs:element minOccurs="0" name="arg6" type="xs:string" />
          <xs:element minOccurs="0" name="arg7" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachToContactResponse" type="tns:attachToContactResponse" />
      <xs:complexType name="attachToContactResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachToContactWithAttachment" type="tns:attachToContactWithAttachment" />
      <xs:complexType name="attachToContactWithAttachment">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:string" />
          <xs:element minOccurs="0" name="arg4" type="xs:string" />
          <xs:element minOccurs="0" name="arg5" type="xs:string" />
          <xs:element minOccurs="0" name="arg6" type="xs:string" />
          <xs:element minOccurs="0" name="arg7" type="xs:string" />
          <xs:element minOccurs="0" name="arg8" type="xs:string" />
          <xs:element minOccurs="0" name="arg9" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachToContactWithAttachmentResponse" type="tns:attachToContactWithAttachmentResponse" />
      <xs:complexType name="attachToContactWithAttachmentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachEmailAsNoteWithAttachment" type="tns:attachEmailAsNoteWithAttachment" />
      <xs:complexType name="attachEmailAsNoteWithAttachment">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:string" />
          <xs:element minOccurs="0" name="arg4" type="xs:string" />
          <xs:element minOccurs="0" name="arg5" type="xs:string" />
          <xs:element minOccurs="0" name="arg6" type="xs:string" />
          <xs:element minOccurs="0" name="arg7" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachEmailAsNoteWithAttachmentResponse" type="tns:attachEmailAsNoteWithAttachmentResponse" />
      <xs:complexType name="attachEmailAsNoteWithAttachmentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachNoteToContactWithAttachment" type="tns:attachNoteToContactWithAttachment" />
      <xs:complexType name="attachNoteToContactWithAttachment">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:string" />
          <xs:element minOccurs="0" name="arg4" type="xs:string" />
          <xs:element minOccurs="0" name="arg5" type="xs:string" />
          <xs:element minOccurs="0" name="arg6" type="xs:string" />
          <xs:element minOccurs="0" name="arg7" type="xs:string" />
          <xs:element minOccurs="0" name="arg8" type="xs:string" />
          <xs:element minOccurs="0" name="arg9" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="attachNoteToContactWithAttachmentResponse" type="tns:attachNoteToContactWithAttachmentResponse" />
      <xs:complexType name="attachNoteToContactWithAttachmentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="findContactByEmail" type="tns:findContactByEmail" />
      <xs:complexType name="findContactByEmail">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="findContactByEmailResponse" type="tns:findContactByEmailResponse" />
      <xs:complexType name="findContactByEmailResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:ppolContact" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="attachToCustomerResponse">
    <wsdl:part name="parameters" element="tns:attachToCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="attachNoteToContactWithAttachment">
    <wsdl:part name="parameters" element="tns:attachNoteToContactWithAttachment" />
  </wsdl:message>
  <wsdl:message name="attachToContactResponse">
    <wsdl:part name="parameters" element="tns:attachToContactResponse" />
  </wsdl:message>
  <wsdl:message name="attachNoteToContactResponse">
    <wsdl:part name="parameters" element="tns:attachNoteToContactResponse" />
  </wsdl:message>
  <wsdl:message name="attachToCustomerWithAttachmentResponse">
    <wsdl:part name="parameters" element="tns:attachToCustomerWithAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="findContactByEmail">
    <wsdl:part name="parameters" element="tns:findContactByEmail" />
  </wsdl:message>
  <wsdl:message name="attachEmailAsNote">
    <wsdl:part name="parameters" element="tns:attachEmailAsNote" />
  </wsdl:message>
  <wsdl:message name="findContactByEmailResponse">
    <wsdl:part name="parameters" element="tns:findContactByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="attachToCustomer">
    <wsdl:part name="parameters" element="tns:attachToCustomer" />
  </wsdl:message>
  <wsdl:message name="attachNoteToContact">
    <wsdl:part name="parameters" element="tns:attachNoteToContact" />
  </wsdl:message>
  <wsdl:message name="attachToContactWithAttachmentResponse">
    <wsdl:part name="parameters" element="tns:attachToContactWithAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="attachEmailAsNoteWithAttachment">
    <wsdl:part name="parameters" element="tns:attachEmailAsNoteWithAttachment" />
  </wsdl:message>
  <wsdl:message name="attachNoteToContactWithAttachmentResponse">
    <wsdl:part name="parameters" element="tns:attachNoteToContactWithAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="attachToContact">
    <wsdl:part name="parameters" element="tns:attachToContact" />
  </wsdl:message>
  <wsdl:message name="attachToCustomerWithAttachment">
    <wsdl:part name="parameters" element="tns:attachToCustomerWithAttachment" />
  </wsdl:message>
  <wsdl:message name="attachEmailAsNoteWithAttachmentResponse">
    <wsdl:part name="parameters" element="tns:attachEmailAsNoteWithAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="attachEmailAsNoteResponse">
    <wsdl:part name="parameters" element="tns:attachEmailAsNoteResponse" />
  </wsdl:message>
  <wsdl:message name="attachToContactWithAttachment">
    <wsdl:part name="parameters" element="tns:attachToContactWithAttachment" />
  </wsdl:message>
  <wsdl:portType name="PsnNoteAPI">
    <wsdl:operation name="attachEmailAsNote">
      <wsdl:input name="attachEmailAsNote" message="tns:attachEmailAsNote" />
      <wsdl:output name="attachEmailAsNoteResponse" message="tns:attachEmailAsNoteResponse" />
    </wsdl:operation>
    <wsdl:operation name="attachToCustomer">
      <wsdl:input name="attachToCustomer" message="tns:attachToCustomer" />
      <wsdl:output name="attachToCustomerResponse" message="tns:attachToCustomerResponse" />
    </wsdl:operation>
    <wsdl:operation name="attachNoteToContact">
      <wsdl:input name="attachNoteToContact" message="tns:attachNoteToContact" />
      <wsdl:output name="attachNoteToContactResponse" message="tns:attachNoteToContactResponse" />
    </wsdl:operation>
    <wsdl:operation name="attachToCustomerWithAttachment">
      <wsdl:input name="attachToCustomerWithAttachment" message="tns:attachToCustomerWithAttachment" />
      <wsdl:output name="attachToCustomerWithAttachmentResponse" message="tns:attachToCustomerWithAttachmentResponse" />
    </wsdl:operation>
    <wsdl:operation name="attachToContact">
      <wsdl:input name="attachToContact" message="tns:attachToContact" />
      <wsdl:output name="attachToContactResponse" message="tns:attachToContactResponse" />
    </wsdl:operation>
    <wsdl:operation name="attachToContactWithAttachment">
      <wsdl:input name="attachToContactWithAttachment" message="tns:attachToContactWithAttachment" />
      <wsdl:output name="attachToContactWithAttachmentResponse" message="tns:attachToContactWithAttachmentResponse" />
    </wsdl:operation>
    <wsdl:operation name="attachEmailAsNoteWithAttachment">
      <wsdl:input name="attachEmailAsNoteWithAttachment" message="tns:attachEmailAsNoteWithAttachment" />
      <wsdl:output name="attachEmailAsNoteWithAttachmentResponse" message="tns:attachEmailAsNoteWithAttachmentResponse" />
    </wsdl:operation>
    <wsdl:operation name="attachNoteToContactWithAttachment">
      <wsdl:input name="attachNoteToContactWithAttachment" message="tns:attachNoteToContactWithAttachment" />
      <wsdl:output name="attachNoteToContactWithAttachmentResponse" message="tns:attachNoteToContactWithAttachmentResponse" />
    </wsdl:operation>
    <wsdl:operation name="findContactByEmail">
      <wsdl:input name="findContactByEmail" message="tns:findContactByEmail" />
      <wsdl:output name="findContactByEmailResponse" message="tns:findContactByEmailResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PsnNoteAPIServiceSoapBinding" type="tns:PsnNoteAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="attachEmailAsNote">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="attachEmailAsNote">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="attachEmailAsNoteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachToCustomer">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="attachToCustomer">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="attachToCustomerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachNoteToContact">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="attachNoteToContact">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="attachNoteToContactResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachToCustomerWithAttachment">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="attachToCustomerWithAttachment">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="attachToCustomerWithAttachmentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachToContact">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="attachToContact">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="attachToContactResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachEmailAsNoteWithAttachment">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="attachEmailAsNoteWithAttachment">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="attachEmailAsNoteWithAttachmentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachToContactWithAttachment">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="attachToContactWithAttachment">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="attachToContactWithAttachmentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="attachNoteToContactWithAttachment">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="attachNoteToContactWithAttachment">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="attachNoteToContactWithAttachmentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findContactByEmail">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findContactByEmail">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findContactByEmailResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PsnNoteAPIService">
    <wsdl:port name="PsnNoteAPIPort" binding="tns:PsnNoteAPIServiceSoapBinding">
      <soap:address location="http://www.planplusonline08.com/cxf/PsnNoteAPI" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>